<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>List product</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="shortcut icon" href="#">
</head>
<body>
<div th:replace="admin/fragment :: header_menu"></div>
<h1 style="text-align: center">Add product</h1>
<div class="container">
    <div th:if="${param.success}" class="alert alert-success">Add product success !</div>
    <form class="information" method="post" th:object="${product}" th:action="@{/admin/add-product}" enctype="multipart/form-data">
        <div class="mb-3">
            <label>Image:</label>
            <img id="img" width="100" height="100" alt="" th:src="@{/site-logo/no-image.jpg}">
            <input type="hidden" th:field="*{image}">
            <input type="file" name="img" accept="image/png, image/jpeg" multiple="multiple" onchange="chooseFile(this)">
            <div th:if="${messageFile}"><span th:text="${messageFile}" class="text-danger"></span></div>
        </div>
        <div class="mb-3">
            <label>Name</label>
            <input type="text" th:field="*{name}" class="form-control">
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <div>Status:</div>
            <div class="form-check form-switch">
                <label for="enabled">enable</label>
                <input class="form-check-input" type="checkbox" name="enabled" role="switch" id="enabled" checked>
            </div>
            <div class="form-check form-switch">
                <label for="inStock">in stock</label>
                <input class="form-check-input" type="checkbox" name="inStock" role="switch" id="inStock" checked>
            </div>
        </div>
        <div class="mb-3">
            <label>Cost</label>
            <input type="number" min="0" th:field="*{cost}" class="form-control">
            <span th:if="${#fields.hasErrors('cost')}" th:errors="*{cost}" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label>Price</label>
            <input type="number" min="0" th:field="*{price}" class="form-control">
            <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label>Discount percent</label>
            <input type="number" min="0" size="15" th:field="*{discountPercent}" class="form-control">
            <span th:if="${#fields.hasErrors('discountPercent')}" th:errors="*{discountPercent}" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label>Category</label>
            <select class="form-control" multiple="multiple" size="3" th:field="*{category}" required>
                <option th:each="c:${categories}" th:value="${{c}}" th:utext="${c.name}"></option>
            </select>
        </div>
        <div class="mb-3">
            <label>Publisher</label>
            <select class="form-select" th:field="*{publisher.id}">
                <option th:each="publisher:${publishers}" th:value="${publisher.id}" th:utext="${publisher.name}"></option>
            </select>
        </div>
        <div class="mb-3">
            <label>Quantity</label>
            <input type="number" min="0" th:field="*{quantity}" class="form-control">
            <span th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label>Description</label>
            <textarea rows="5" th:field="*{description}" class="form-control"></textarea>
            <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger"></span>
        </div>
        <div><input class="btn btn-primary" type="submit" value="Add product"></div>
        <br>
        <a class="btn btn-primary" th:href="@{/admin/product}">Back</a>
    </form>
    <div th:replace="admin/fragment :: footer_menu"></div>
</div>
<script type="text/javascript">
    const _validFilejpeg = [".png", ".jpg"];
    function chooseFile(fileInput) {
        validateForSize(fileInput, 0, 5120)
        if (fileInput.files && fileInput.files[0]) {
            let fileReader = new FileReader();
            fileReader.onload = function (e) {
                document.getElementById("img").src = e.target.result
            }
            fileReader.readAsDataURL(fileInput.files[0])
        }
    }

    function validateForSize(oInput, minSize, maxSizejpeg) {
        //if there is a need of specifying any other type, just add that particular type in var _validFilejpeg
        if (oInput.type === "file") {
            let sFileName = oInput.value
            if (sFileName.length > 0) {
                let blnValid = false
                for (let j = 0; j < _validFilejpeg.length; j++) {
                    let sCurExtension = _validFilejpeg[j]
                    if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() === sCurExtension.toLowerCase()) {
                        blnValid = true
                        break
                    }
                }
                if (!blnValid) {
                    alert("Sorry, this file is invalid, allowed extension is " + _validFilejpeg.join(", "))
                    oInput.value = ""
                    return false
                }
            }
        }
        fileSizeValidatejpeg(oInput, minSize, maxSizejpeg);
    }

    function fileSizeValidatejpeg(fdata, minSize, maxSizejpeg) {
        if (fdata.files && fdata.files[0]) {
            let fsize = fdata.files[0].size /1024 //The files property of an input element returns a FileList. fdata is an input element,fdata.files[0] returns a File object at the index 0.
            //alert(fsize)
            if (fsize > maxSizejpeg || fsize < minSize) {
                // alert('This file size is: ' + fsize.toFixed(2) +
                //     "KB. Files should be in " + (minSize) + " to " + (maxSizejpeg) + " KB ");
                alert('Please select file < 5MB')
                fdata.value = ""
                return false
            }
        }
    }
</script>
</body>
</html>