<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Change profile</title>
</head>
<body>
<div class="container">
    <div th:replace = "navigation :: header_menu"></div>
    <h1 style="text-align: center">Change profile</h1>
    <div class="border border-secondary rounded p-3" style="max-width: 900px; margin: 0 auto;">
        <form class="information" method="post" th:object="${user}" th:action="@{/change-profile}" enctype="multipart/form-data">
            <input type="hidden" th:field="*{id}" name="id">
            <div class="mb-3">
                <img id="image" width="100" height="100" alt="Image" th:src="@{*{image}}">
                <input type="hidden" th:field="*{image}">
                <input type="file" name="img" accept="image/png, image/jpeg" multiple="multiple" onchange="chooseFile(this)">
                <div th:if="${messageFile}">
                    <span th:text="${messageFile}" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3">
                <input type="email" th:field="*{email}" class="form-control" readonly>
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="password" th:field="*{password}" class="form-control" placeholder="thay doi mat khau">
<!--                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>-->
            </div>
            <div class="mb-3">
                <input type="text" th:field="*{name}" class="form-control" placeholder="Name">
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="tel" size="15" th:field="*{phone}" class="form-control" placeholder="Phone">
                <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="text" th:field="*{address}" class="form-control" placeholder="Address">
                <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="text-danger"></span>
            </div>
            <div th:each="school, item:*{schools}" class="mb-3">
                <div class="delete-school">
                    <input type="hidden" th:field="*{schools[__${item.index}__].id}" class="school">
                    <p>School
                        <input type="text" th:field="*{schools[__${item.index}__].name}" class="form-control school"
                               placeholder="Name" id="school-name">
                        <span th:if="${#fields.hasErrors('schools[__${item.index}__].name')}"
                              th:errors="*{schools[__${item.index}__].name}" class="text-danger school"></span>
                    </p>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label>Admission date</label>
                            <input type="date" th:field="*{schools[__${item.index}__].admissionDate}"
                                   class="form-control school" id="school-admissionDate">
                            <span th:if="${#fields.hasErrors('schools[__${item.index}__].admissionDate')}"
                                  th:errors="*{schools[__${item.index}__].admissionDate}" class="text-danger school"></span>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>Graduate date</label>
                            <input type="date" th:field="*{schools[__${item.index}__].graduateDate}"
                                   class="form-control school" id="school-graduateDate">
                            <span th:if="${#fields.hasErrors('schools[__${item.index}__].graduateDate')}"
                                  th:errors="*{schools[__${item.index}__].graduateDate}" class="text-danger school"></span>
                        </div>
                    </div>
                    <input type="button" th:name="${item.index}" class="btn btn-danger school" value="Delete school" onclick="deleteSchoolViaAjax(this)">
                </div>
            </div>
            <div id="ajax-add-school"></div>
            <input th:if="${user.schools == null}" type="hidden" id="index" th:value="0">
            <input th:if="${user.schools != null}" type="hidden" id="index" th:value="${user.schools.size()}">
            <div th:if="${#fields.hasErrors('global')}" class="text-danger">
                <div th:each="err : ${#fields.errors('global')}" th:text="${err}" class="text-danger"></div>
            </div>
            <div style="text-align: center"><input type="button" class="btn btn-success" value="Add school" onclick="addSchoolViaAjax()"></div>
            <div><input type="submit" value="Change profile" class="btn btn-primary"/></div>
            <br>
            <a class="btn btn-primary" th:href="@{/user/home}">Back</a>
        </form>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<script type="text/javascript">
    function chooseFile(fileInput) {
        if (fileInput.files && fileInput.files[0]) {
            var fileReader = new FileReader()
            fileReader.onload = function (e) {
                document.getElementById("image").src = e.target.result
            }
            fileReader.readAsDataURL(fileInput.files[0])
        }
    }

    function addSchoolViaAjax() {
        var index = $("#index").val()
        $.ajax({
            type: "GET",
            url: "add-school",
            data: {
                index: index
            },
            dataType: "html",
            timeout: 100000,
            success: function (response) {
                $(response).insertBefore("#ajax-add-school")
                $("#index").val(++index)
            },
            error: function (e) {
                console.log("ERROR: ", e)
            }
        })
    }

    function deleteSchoolViaAjax(e){
        var index = $("#index").val()
        $("#index").val(--index)
        var currentIndex = e.name
        var elements = document.getElementsByClassName("school")
        e.parentElement.remove()
        for (let i = 0; i < elements.length; ++i) {
            let name = elements[i].name
            let num = 0, le = ""
            for (let j = 0; j < name.length; ++j){
                if (isFinite(name.charAt(j))){
                    num = num*10 + Number(name.charAt(j))
                    le += name.charAt(j)
                }
            }
            if (num > currentIndex){
                --num;
                elements[i].name = name.replace(le, String(num))
            }
        }
    }
</script>
</body>
</html>