<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>FakeBookShop</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container-fluid">
    <div th:replace = "navigation :: header_menu"></div>
</div>

<p>
    Công ty Cổ phần Văn hóa và Truyền thông Nhã Nam, thường gọi tắt là Nhã Nam là doanh nghiệp hoạt động trong lĩnh vực kinh doanh dịch vụ văn hóa và xuất bản phẩm tại Việt Nam. Công ty được thành lập vào năm 2005 với một nhóm nòng cốt say mê văn chương, sách vở, cuốn sách best-seller đầu tiên là Nhật ký Đặng Thùy Trâm, tiêu thụ 500.000 bản ngay trong năm đầu tiên. Cuốn sách đã tạo nên một cú huých cực mạnh đưa cái tên Nhã Nam đến với nhiều độc giả hơn, đánh dấu thời kỳ chuyển mình của thương hiệu này.
</p>

</body>
</html>