<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:th ="http://www.thymeleaf.org">
<head th:fragment="page_header(title)">

</head>
<body>
<!--<div th:fragment="modal_dialog" class="modal fade text-center" id="modalDialog">-->
<!--    <div class="modal-dialog">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h4 class="modal-title" id="modalTitle">Warning</h4>-->
<!--                <button type="button" class="close" data-dismiss="modal">&times;</button>-->
<!--            </div>-->

<!--            <div class="modal-body">-->
<!--                <span id="modalBody"></span>-->
<!--            </div>-->

<!--            <div class="modal-footer">-->
<!--                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>-->
<!--            </div>-->

<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<div th:fragment="modal_warning" class="modal fade" tabindex="-1" id="modalSuper" role="dialog">-->
<!--    <div class="modal-dialog" role="document">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h5 class="modal-title" id="modalTitle"></h5>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--                <p id="modalBody"></p>-->
<!--            </div>-->
<!--            <div class="modal-footer btn-action-group">-->
<!--                <a class="btn btn-danger"></a>-->
<!--                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div th:fragment="modal_dialog" class="modal fade text-center" id="modalDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalTitle">Warning</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <span id="modalBody"></span>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

</body>


</html>
