<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>FakeBookShop</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="shortcut icon" href="#">
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div th:replace="navigation :: header_menu"></div>

    <div class="text-center">
        <h2>Giỏ hàng của bạn</h2>
    </div>

    <div th:if="${checkNullCart} eq true">
        <h3>Giỏ hàng đang bị trống</h3>

    </div>

    <div th:if="${checkNullCart} eq false">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-10 col-md-offset-1">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th th:replace="fragments :: column_link('id', 'ID')" >
                            <th>Sản phẩm</th>
                            <th th:replace="fragments :: column_link('quantity', 'Số lượng')"></th>
                            <th></th>
                            <th class="text-center">Giá</th>
                            <th th:replace="fragments :: column_link('subTotal', 'Tổng tiền')"></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item : ${listProductByUserCart}">
                            <td class="col-md-1" style="text-align: center">
                                <span th:text="${item.product.id}" style="font-weight: bold; float:left"></span>
                            </td>
                            <td class="col-md-6">
                                <div class="media">
                                    <a class="thumbnail pull-left" href="#">
                                        <img class="media-object"
                                             th:src="@{'/product-images/'+ ${item.productImage}}"
                                             style="width: 72px; height: 72px;">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="#" th:text="${item.productName}"
                                                                     th:href="@{'/p/' + ${item.productId}}"></a></h4>
                                        <h5 class="media-heading"> by <a href="#" th:text="${item.pulisherName}"></a></h5>
                                        <span  th:if="${item.product.inStock eq true}">
                                            <span>Trạng thái:<span
                                                    class="text-success"><strong>Có sẵn</strong></span></span> <br>
                                            <span>Số lượng còn lại:<span
                                                    class="text-danger"><strong th:text="${item.product.quantity}"></strong></span></span>
                                        </span>
                                        <span th:if="${item.product.inStock eq false}">Trạng thái:<span
                                                class="text-success"><strong>Hết hàng</strong></span></span>
                                    </div>
                                </div>
                            </td>
                                <td class="col-md-1" style="text-align: center">
                                <input type="input" class="form-control quantityInput" th:id="'quantity' + ${item.productId}"
                                       th:pid = "${item.productId}" th:maxQuan="${item.remainingProduct}"
                                       th:value="${item.quantity}" th:checkIns = "${item.product.inStock}">
                            </td>
                            <td>
                            <span class="input-group-btn">
                                  <a class="btn btn-danger btn-number linkMinus" data-type="minus"
                                     th:pid="${item.productId}">
                                    <span class="glyphicon glyphicon-minus"></span>
                                  </a>
                            </span>
                                <span class="input-group-btn">
                                  <a class="btn btn-success btn-number linkPlus" data-type="plus"
                                     th:pid="${item.productId}"
                                     th:maxQuan="${item.remainingProduct}" >
                                      <span class="glyphicon glyphicon-plus"></span>
                                  </a>
                            </span>
                            </td>
                            <td class="col-md-1 text-center"><strong th:text="${item.productPrice}"></strong></td>
                            <td class="col-md-1 text-center"><strong th:text="${item.subTotal}" class="subtotal"
                                                                     th:id="'orderSubTotal' + ${item.productId}"></strong></td>
                            <td class="col-md-1">
                                <button type="button" class="btn btn-danger removeProduct"
                                        th:pid="${item.productId}">
                                    <span class="glyphicon glyphicon-remove"></span> Xóa
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>  </td>
                            <td>  </td>
                            <td>  </td>
                            <td><h3>Tổng tiền</h3></td>
                            <td class="text-right"><h3><strong th:text="${totalMoney}" th:id="orderTotalMoney"></strong></h3></td>
                        </tr>
                        <tr>
                            <td>  </td>
                            <td>  </td>
                            <td>  </td>
                            <td>
                                <button type="button" class="btn btn-default btnContinueShop">
                                    <span class="glyphicon glyphicon-shopping-cart"></span> Tiếp tục mua hàng
                                </button>
                            </td>
                            <td>
                                    <button type="submit" class="btn btn-success btnCheckout">
                                        Thanh toán <span class="glyphicon glyphicon-play"></span>
                                    </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div th:replace="fragments :: pagination('/cart', 'sản phẩm')"></div>
        </div>
    </div>

</div>


</div>
<th:block>
    <script type="text/javascript">
        contextPath = "[[@{/}]]";

    // function checkQuantity(check){
    //     productId = check.attr("pid");
    //     quantityInput = $("#quantity" + productId);
    //     quantityValue = parseInt(quantityInput.val());
    //     if(quantityValue == 1){
    //         $("a.linkMinus[pid = productId]").click(function(){
    //             $("a.linkMinus[pid = productId]").attr("disabled","disabled");
    //         });
    //     }
    // }

        $(".btnCheckout").on("click",function(evt){
            evt.preventDefault();
            var test = prepareCheckOut();
            if(test == "OK"){
                // alert("checkouttt")
                checkOut();
            }
            else{
                window.location.href = "[[@{/cart}]]";
            }
        });


        function prepareCheckOut(){
            var check = 0;
            $(".quantityInput").each(function(index, item){
                productId = $(item).attr("pid");
                pieceAvailable = $(item).attr("maxQuan");
                myQuantity = parseInt($(item).val());
                checkIns = $(item).attr("checkIns");
                $.ajax({
                    type: 'GET',
                    url:"[[@{/prepareCheckout}]]",
                    async: false,
                    data: {
                        productId : productId,
                        productQuantity: myQuantity,
                        checkIns : checkIns
                    },
                    success: function(response){
                        if(response != ""){
                            alert(response);
                            check = 1;
                        }
                    }
                })
            });

            if(check == 0)
                return "OK";
            else
                return "FAIL";
        }

        function checkOut(){
            $.ajax({
                type: 'GET',
                url: "[[@{/checkout}]]"
            }).done(function(response){
                showModalWarning("Success", response);
                window.location.href = "[[@{/purchase}]]";
            }).fail(function(){
                showModalWarning("Error", "Lỗi xảy ra trong quá trình thanh toán");
            })
        }

    </script>
    <script type="text/javascript" th:src="@{/js/cart-item.js}"></script>

</th:block>
</body>
</html>