<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>FakeBookShop</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="shortcut icon" href="#">
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div th:replace="navigation :: header_menu"></div>

    <div class="text-center">
        <h2>Giỏ hàng của bạn</h2>
    </div>

    <div th:if="${checkNullCart} eq true">
        <h3>Giỏ hàng đang bị trống</h3>

    </div>

    <div th:if="${checkNullCart} eq false">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-10 col-md-offset-1">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Sản phẩm</th>
                            <th>Số lượng</th>
                            <th></th>
                            <th class="text-center">Giá</th>
                            <th class="text-center">Tổng tiền</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item : ${listProductByUserCart}">
                            <td class="col-md-6">
                                <div class="media">
                                    <a class="thumbnail pull-left" href="#">
                                        <img class="media-object"
                                             th:src="@{'/product-images/' + ${item.productId} + '/'+ ${item.productImage}}"
                                             style="width: 72px; height: 72px;">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="#" th:text="${item.productName}"
                                                                     th:href="@{'/p/' + ${item.productId}}"></a></h4>
                                        <h5 class="media-heading"> by <a href="#" th:text="${item.pulisherName}"></a></h5>
                                        <span th:if="${item.checkInStock == 0}">Trạng thái:<span
                                                class="text-success"><strong>Có sẵn</strong></span></span>
                                        <span th:if="${item.checkInStock == -1}">Trạng thái:<span
                                                class="text-success"><strong>Hết hàng</strong></span></span>
                                        <span th:if="${item.checkInStock == 1}">Trạng thái:<span
                                                class="text-success"><strong>Số lượng đặt vượt quá số lượng trong kho</strong></span></span>
                                    </div>
                                </div>
                            </td>
                            <td class="col-md-1" style="text-align: center">
                                <input type="email" class="form-control" th:id="'quantity' + ${item.productId}"
                                       th:value="${item.quantity}">
                            </td>
                            <td>
                            <span class="input-group-btn">
                                  <a class="btn btn-danger btn-number linkMinus" data-type="minus" data-field="quant[2]"
                                     th:pid="${item.productId}">
                                    <span class="glyphicon glyphicon-minus"></span>
                                  </a>
                            </span>
                                <span class="input-group-btn">
                                  <a class="btn btn-success btn-number linkPlus" data-type="plus" data-field="quant[2]"
                                     th:pid="${item.productId}"
                                     th:maxQuan="${item.remainingProduct}">
                                      <span class="glyphicon glyphicon-plus"></span>
                                  </a>
                            </span>
                            </td>
                            <td class="col-md-1 text-center"><strong th:text="${item.productPrice}"></strong></td>
                            <td class="col-md-1 text-center"><strong th:text="${item.subTotal}" class="subtotal"
                                                                     th:id="'orderSubTotal' + ${item.productId}"></strong></td>
                            <td class="col-md-1">
                                <button type="button" class="btn btn-danger removeProduct"
                                        th:pid="${item.productId}">
                                    <span class="glyphicon glyphicon-remove"></span> Xóa
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>  </td>
                            <td>  </td>
                            <td>  </td>
                            <td><h3>Tổng tiền</h3></td>
                            <td class="text-right"><h3><strong th:text="${totalMoney}" th:id="orderTotalMoney"></strong></h3></td>
                        </tr>
                        <tr>
                            <td>  </td>
                            <td>  </td>
                            <td>  </td>
                            <td>
                                <button type="button" class="btn btn-default btnContinueShop">
                                    <span class="glyphicon glyphicon-shopping-cart"></span> Tiếp tục mua hàng
                                </button>
                            </td>
                            <td>
                                <form th:action="@{/checkout}">
                                    <button type="submit" class="btn btn-success btnCheckout">
                                        Thanh toán <span class="glyphicon glyphicon-play"></span>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>


</div>
<th:block>
    <script type="text/javascript" th:src="@{/js/cart-item.js}"></script>
    <script type="text/javascript">
        contextPath = "[[@{/}]]";


    </script>

</th:block>
</body>
</html>